<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit post</h1>
    <p>Post Id : <%= post.id %></p>
    <h3>Username : <%= post.username %></h3>

    <form action="/post/edit/<%= post.id %>?_method=PATCH" method="POST">
      <textarea name="content"> <%= post.content %></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
