<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form for new Post</title>
  </head>
  <body>
    <form action="/post" method="post">
      <label for="username"> Username :</label>
      <input type="text" name="username" id="username" />

      <br /><br />

      <label for="content"> Content :</label>
      <textarea name="content" id="content"></textarea>

      <br /><br />

      <button>Submit</button>
    </form>
  </body>
</html>
