<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>See Post In Detail</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h3>Welcom at @<%= post.username %> post</h3>
    <p>Post ID : <%= post.id %></p>
    <div class="post">
      <h3 class="user">Username : <%= post.username %></h3>
      <h4>Content : <%= post.content %></h4>
    </div>
  </body>
</html>
